.kontakt {
    padding: 40px;
    margin: 10px;
    width: 80%;
}

@media screen and (max-width: 500px) {
    .uber {
        margin-top: 26rem;
    }
}

@media screen and (max-width: 420px) {
    .uber {
        margin-top: 38rem;

    }
}

@media screen and (max-width: 380px) {
    .uber {
        margin-top: 40rem;
    }
}


@media screen and (max-width: 500px) {
    .kontakt {
        margin-top: 10rem;
    }
}

@media screen and (max-width: 420px) {
    .kontakt {
        margin-top: 10rem;

    }
}

@media screen and (max-width: 380px) {
    .kontakt {
        margin-top: 25rem;
    }
}